* {
    box-sizing: border-box;
}

body {
    background-color: #dcdcdc;
}

main {
    height: 90vh;
    margin: 0;
    font-family:'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4vmin;
    color: #231f20;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 4vmin;
    font-size: large;
    color: #231f20;
}

nav > * {
    margin: 0 10vmin;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
}

.hidden {
    visibility: hidden;
}

.marker {
    text-align: center;
    background-color: #dcdcdc;
}

.cell {
    text-align: center;
}

.ship {
    border-radius: 20%;
}

.p-carrier, .c-carrier, .carrier {
    background-color: #444444;
}

.p-battleship, .c-battleship, .battleship {
    background-color: #555555;
}

.p-cruiser, .c-cruiser, .cruiser {
    background-color: #666666;
}

.p-submarine, .c-submarine, .submarine {
    background-color: #888888;
}

.p-destroyer, .c-destroyer, .destroyer {
    background-color: #aaaaaa;
}

.hit {
    background: radial-gradient(#cc2200, #bb2222, #ba2d0b);
    border-radius: 50%;
    display: inline-block;
    width: 50%;
    height: 50%;
}

.miss {
    background: radial-gradient(#ffffff, #dddddd, #999999);
    border-radius: 50%;
    display: inline-block;
    width: 50%;
    height: 50%;
}

.sunk {
    background: linear-gradient(#ffcc00, #ff7700, #ff5500, #dd3311, #bb2222, #881133);
}

.pending {
    background-color: #404040;
}

#game {
    display: flex;
}

#scoreboards {
    display: flex;
    text-align: center;
    margin-top: 5vmin;
}

#playerBoard, #computerBoard {
    display: grid;
    grid-template-columns: repeat(11, 5vmin);
    grid-template-rows: repeat(11, 5vmin);
    margin: 1vmin;
    background-color: #006daa;
}

#playerBoard > *, #computerBoard > *{
    outline: 1px solid black;
    margin-left: 1px;
    margin-top: 1px;
}

#playerScoreboard, #computerScoreboard {
    display: grid;
    grid-template-columns: repeat(11, 5vmin);
    grid-template-rows: repeat(3, 5vmin);
    margin: 1vmin;
}

#playAgain {
    text-align: center;
    margin-top: 10px;
}

#playAgain > button {
    background-color: #57737a;
    color: white;
    border: none;
    border-radius: 5%;
    font-size: large;
    padding: 8px;
}
