* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    font-family:'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-size: 4vmin;
}

main {
    display: flex;
}

.marker {
    text-align: center;
}
.cell {
    border: 1px solid black;
}

#playerBoard, #computerBoard {
    display: grid;
    grid-template-columns: repeat(11, 5vmin);
    grid-template-rows: repeat(11, 5vmin);
    margin: 5vmin;
}

#p-0 {
    border: none;
}

