* {
    box-sizing: border-box;
}

main {
    height: 100vh;
    margin: 0;
    font-family:'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-size: 4vmin;
}

nav {
    position: absolute;
}

#container {
    display: flex;
    flex-direction: column;
}

.hidden {
    visibility: hidden;
}

.marker {
    text-align: center;
    background-color: white;
}

.cell {
    border: 1px solid black;
    /* white-space: nowrap; */
    text-align: center;
}

.ship {
    background-color: grey;
    border-radius: 20%;
}

.p-carrier, .c-carrier, .carrier {
    background-color: #553322;
}

.p-battleship, .c-battleship, .battleship {
    background-color: #665522;
}

.p-cruiser, .c-cruiser, .cruiser {
    background-color: #444422;
}

.p-submarine, .c-submarine, .submarine {
    background-color: #776633;
}

.p-destroyer, .c-destroyer, .destroyer {
    background-color: #775555;
}

.hit {
    background-color: red;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    width: 50%;
    height: 50%;
}

.miss {
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    width: 50%;
    height: 50%;
}

.sunk {
    background-color: red;
}

#game {
    display: flex;
}

#scoreboards {
    display: flex;
    text-align: center;
}

#playerBoard, #computerBoard {
    display: grid;
    grid-template-columns: repeat(11, 5vmin);
    grid-template-rows: repeat(11, 5vmin);
    margin: 5vmin;
    background-color: aqua;
}

#playerScoreboard, #computerScoreboard {
    display: grid;
    grid-template-columns: repeat(11, 5vmin);
    grid-template-rows: repeat(3, 5vmin);
    margin: 5vmin;
}
